NOTEPAD_C6 stub 
So, Branches For NOTEPAD_C6 stub isn´t a PL source at all, Github mentioned that SL files is going to work fine as long as it has the right LOP_ DATA Code from Python. As long as the testing is successful. The government will be able to track all the money from LT Transactions  
Here is the evidence……..
# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
So all the LOP Data is complete for testing. Teams will be able to be in a correct source. LOP_ DACAT_CT
CTR_CTU FUNCTION+UPDATE 14.2 ONLY FOR PRO
